name: zigbee

services:

    zigbee2mqtt:
        container_name: zigbee2mqtt
        restart: always
        image: koenkk/zigbee2mqtt
        volumes:
            - ./zigbee2mqtt-data:/app/data
            - /run/udev:/run/udev:ro
        ports:
            - 8080:8080
        environment:
            - TZ=Europe/Madrid
        devices:
            - /dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_FAKE-if00-port0:/dev/ttyUSB0

networks:
  default:
    name: zigbee
